<footer class="pt-10 bg-gray-800">
  <div class="flex flex-wrap max-w-6xl m-auto text-gray-800 justify-left">

    <!-- Col-1 -->
    <div class="w-1/2 p-5 sm:w-4/12 md:w-3/12">
      <div class="mb-6 text-xs font-medium text-gray-400 uppercase">Site Map</div>

      <!-- Links -->
      <a href="/" class="block my-3 text-sm font-medium text-gray-300 duration-700 hover:text-gray-100">
                Home Page
            </a>
      <a href="/contact" class="block my-3 text-sm font-medium text-gray-300 duration-700 hover:text-gray-100">
                Contact Us
            </a>
    </div>

    <!-- Col-2 -->
    <div class="w-1/2 p-5 sm:w-4/12 md:w-3/12">
      <!-- Col Title -->
      <div class="mb-6 text-xs font-medium text-gray-400 uppercase">Circles</div>

      <!-- Links -->
      <a href="/electronic" class="block my-3 text-sm font-medium text-gray-300 duration-700 hover:text-gray-100">
                Electronic Circle
            </a>
      <a href="/power" class="block my-3 text-sm font-medium text-gray-300 duration-700 hover:text-gray-100">
                Power Circle
            </a>
      <a href="/software" class="block my-3 text-sm font-medium text-gray-300 duration-700 hover:text-gray-100">
                Software Circle
            </a>
      <a href="/tele" class="block my-3 text-sm font-medium text-gray-300 duration-700 hover:text-gray-100">
                Telecommunication Circle
            </a>
    </div>

    <!-- Col-3 -->
    <div class="w-1/2 p-5 sm:w-4/12 md:w-3/12">
      <!-- Col Title -->
      <div class="mb-6 text-xs font-medium text-gray-400 uppercase">
                Community
            </div>

      <!-- Links -->
      <a href="https://www.facebook.com/EIESUOR" target="_blank" class="block my-3 text-sm font-medium text-gray-300 duration-700 hover:text-gray-100">
                Facebook
            </a>
      <a href="https://www.linkedin.com/company/electrical-and-information-engineering-society-university-of-ruhuna" target="_blank" class="block my-3 text-sm font-medium text-gray-300 duration-700 hover:text-gray-100">
                LinkedIn
            </a>
    </div>
  </div>

  <!-- Copyright Bar -->
  <div class="pt-2">
    <div class="flex flex-col max-w-6xl px-3 pt-5 pb-5 m-auto text-sm text-gray-400 border-t border-gray-500 md:flex-row">
      <div class="mt-2">© Copyright 2021. All Rights Reserved. <br/>
        <a href="https://github.com/CharukaHS/eies-foeuor" class="pl-4" target="_blank"> Made with 11ty </a>
      </div>
    </div>
  </div>
</footer>