<footer class="w-full px-20 py-4 text-white bg-black">
  <h1>Electrical and Information Engineering Society</h1>
  <h1 class="mb-8">FOE UOR</h1>
  <div class="flex flex-row flex-wrap">
    <div class="flex flex-col pr-12">
      <a href="/">Home</a>
      <a href="/contact">Contact Us</a>
    </div>
    <div class="flex flex-col pr-12">
      <a href="/electronic">Electronic Circle</a>
      <a href="/power">Power Circle</a>
      <a href="/software">Software Circle</a>
      <a href="/tele">Telecommunication Circle</a>
    </div>
    <div class="flex flex-col pr-12">
      <a href="https://ruh.ac.lk">University of Ruhuna</a>
      <a href="http://www.eng.ruh.ac.lk">UOR - Faculty of Engineering</a>
      <a href="http://eie.eng.ruh.ac.lk/">Department of Electrical and Information Engineering</a>
    </div>
  </div>
  <h3 class="mt-8">Copyright © 2021 Electrical and Information Engineering Society, Faculty of Engineering, University of Ruhuna</h3>
  <h3>
    <a href="https://github.com/CharukaHS/eies-foeuor">Made with 11ty</a>
  </h3>
</footer>