<nav class="absolute z-10 flex flex-row flex-wrap items-center justify-end w-full px-8 py-4">
  <h3 class="px-2">
    <a href="/"> Home </a>
  </h3>
  <h3 class="px-2">
    <a href="/electronic"> Electronic </a>
  </h3>
  <h3 class="px-2">
    <a href="/power"> Power </a>
  </h3>
  <h3 class="px-2">
    <a href="/software"> Software </a>
  </h3>
  <h3 class="px-2">
    <a href="/tele"> Telecommunication </a>
  </h3>
  <h3 class="px-2">
    <a href="/contact"> Contact us </a>
  </h3>
</nav>