<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{'/assets/main.css' | url }}"/>
  </head>
  <body>
    {% include "../components/navigation.njk" %}
    <main class="pt-20">
      {{ content | safe }}
    </main>
    {% include "../components/footer.njk" %}
    <script src="{{'/assets/main.css' | url }}"></script>
  </body>
</html>