---
title: EIES University of Ruhuna
layout: layouts/base.njk
---
<section class="flex flex-col w-full h-screen">
  {% include "./_includes/components/slideshow.njk" %}
  <span class="absolute px-12 py-4 bg-primary top-1/2">
    <h1 class="text-5xl text-white font-title">Electrical and Information Engineering Society</h1>
    <h2 class="text-xl text-white">Faculty of Engineering, University of Ruhuna</h2>
  </span>
</section>

<section class="flex flex-col w-full px-20 py-12 bg-background">
  <h1 class="pb-4 text-3xl text-center font-title">About Us</h1>
  <div class="flex flex-row justify-evenly">
    {% responsiveimage "./src/images/eies.png",
    "EIES Logo",
    "8rem",
    "w-48 mb-8" %}
  </div>
  <div class="mb-4 text-lg text-justify font-text" style="text-align-last: center;">
        Electrical and Information Engineering Society (EIES) is the main society within the department that 
        consists of the academic staff and students. The academic staff of the department facilitates to EIES 
        as an advisory board and the students lead each activity organized by the society. The goal of the 
        Electrical and Information Engineering Society is to upgrade student’s life in the department allowing 
        them to improve not only academic and technical skills but also their leadership interpersonal and 
        professional qualities.
    </div>
</section>

<section class="flex flex-col px-8 py-8 text-white bg-secondry">
  <h1 class="pb-4 text-3xl text-center font-title">{{eies.year}} Committee</h1>
  <div class="flex flex-row flex-wrap self-center justify-around w-5/6">
    {% for i in eies.committee %}
      <span class="flex flex-col items-center justify-center w-48 py-2">
        {% person i.name,
        "eies",
        i.role,
        i.img %}
      </span>
    {% endfor %}
  </div>
</section>

<section class="flex flex-col items-center py-8 bg-background">
  <h1 class="pb-4 text-3xl text-center font-title">Circles</h1>

  <div class="flex flex-row flex-wrap w-full px-8 py-8 justify-evenly">
    {% for i in circles %}
      {% circle i.name,
      i.link,
      i.banner %}
    {% endfor %}
  </div>

</section>